In [42]:
import pandas as pd
calendar = pd.read_excel("DIM_CALENDAR.xlsx")
category=pd.read_csv("DIM_CATEGORY.csv")
product=pd.read_excel("DIM_PRODUCT.xlsx")
segment=pd.read_excel("DIM_SEGMENT.xlsx")

In [44]:
calendar.head()

    WEEK  YEAR  MONTH  WEEK_NUMBER       DATE
0  01-21  2021      1            1 2021-01-10
1  02-21  2021      1            2 2021-01-17
2  03-21  2021      1            3 2021-01-24
3  04-21  2021      1            4 2021-01-31
4  05-21  2021      2            5 2021-02-07

In [46]:
category.head()

   ID_CATEGORY                        CATEGORY
0            1  FABRIC TREATMENT and SANIT\r\n
1            2                       AIR CARE
2            3                    LAVAVAJILLAS
3            4                MEGA SUPERFICIES
4            5             LAVATORY CARE & BRC

In [48]:
product.head()

,MANUFACTURER,BRAND,ITEM,ITEM_DESCRIPTION,CATEGORY,FORMAT,ATTR1,ATTR2,ATTR3
0,INDS. ALEN,CLORALEX,0000075000592,CLORALEX EL RENDIDOR BOT.PLAST. 250ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
1,INDS. ALEN,CLORALEX,0000075000608,CLORALEX EL RENDIDOR BOT.PLAST. 500ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
2,INDS. ALEN,CLORALEX,0000075000615,CLORALEX EL RENDIDOR BOT.PLAST. 950ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
3,INDS. ALEN,CLORALEX,0000075000622,CLORALEX EL RENDIDOR BOT.PLAST. 2000ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
4,INDS. ALEN,CLORALEX,0000075000639,CLORALEX EL RENDIDOR BOT.PLAST. 3750ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO

In [50]:
segment.head()

   CATEGORY  ATTR1  ATTR2      ATTR3   FORMAT SEGMENT
0         1  CLORO  CLORO    BAMBINO  LIQUIDO  BLEACH
1         1  CLORO  CLORO  GERMICIDA  LIQUIDO  BLEACH
2         1  CLORO  CLORO   MASCOTAS  LIQUIDO  BLEACH
3         1  CLORO  CLORO  MULTIUSOS      GEL  BLEACH
4         1  CLORO  CLORO  MULTIUSOS  LIQUIDO  BLEACH

In [52]:
product = product.map(lambda x: x.strip().upper() if isinstance(x, str) else x)
product = product.fillna('NO DEFINIDO')
product.head(10)

,MANUFACTURER,BRAND,ITEM,ITEM_DESCRIPTION,CATEGORY,FORMAT,ATTR1,ATTR2,ATTR3
0,INDS. ALEN,CLORALEX,0000075000592,CLORALEX EL RENDIDOR BOT.PLAST. 250ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
1,INDS. ALEN,CLORALEX,0000075000608,CLORALEX EL RENDIDOR BOT.PLAST. 500ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
2,INDS. ALEN,CLORALEX,0000075000615,CLORALEX EL RENDIDOR BOT.PLAST. 950ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
3,INDS. ALEN,CLORALEX,0000075000622,CLORALEX EL RENDIDOR BOT.PLAST. 2000ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
4,INDS. ALEN,CLORALEX,0000075000639,CLORALEX EL RENDIDOR BOT.PLAST. 3750ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
5,INDS. ALEN,CLORALEX,0000075000646,CLORALEX FANTASIA FLORAL BOT PLAST 950ML NAL 0...,1,LIQUIDO,CLORO,CLORO,OTR. TIPOS
6,INDS. ALEN,CLORALEX,0000075000653,CLORALEX FANTASIA FLORAL BOT PLAST 2000 ML NAL...,1,LIQUIDO,CLORO,CLORO,OTR. TIPOS
7,INDS. ALEN,CLORALEX,0000075000677,CLORALEX FRESCURA CITRICA BOT PLAST 950ML NAL...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
8,INDS. ALEN,CLORALEX,0000075000684,CLORALEX FRESCURA CITRICA BOT PLAST 2000ML NAL...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
9,QUIMICA GONCAL,PATITO,0000075010539,PATITO BOTELLA 245 ML. 0000075010539,1,LIQUIDO,CLORO,CLORO,OTR. TIPOS

In [66]:
segment['ATTR1'] = segment['ATTR1'].str.replace('PRE LAVADOR', 'PRELAVADOR')
segment['ATTR3'] = segment['ATTR3'].str.replace('PRE LAVADOR', 'PRELAVADOR')
segment['ATTR1'] = segment['ATTR1'].str.title()
segment['ATTR2'] = segment['ATTR2'].str.title()
segment['ATTR3'] = segment['ATTR3'].str.title()
segment['FORMAT'] = segment['FORMAT'].str.title()
segment['SEGMENT'] = segment['SEGMENT'].str.title()
segment = segment.dropna()
segment.head(10)

   CATEGORY  ATTR1  ATTR2        ATTR3   FORMAT SEGMENT
0         1  Cloro  Cloro      Bambino  Liquido  Bleach
1         1  Cloro  Cloro    Germicida  Liquido  Bleach
2         1  Cloro  Cloro     Mascotas  Liquido  Bleach
3         1  Cloro  Cloro    Multiusos      Gel  Bleach
4         1  Cloro  Cloro    Multiusos  Liquido  Bleach
5         1  Cloro  Cloro  No Definido  Liquido  Bleach
6         1  Cloro  Cloro  No Definido    Polvo  Bleach
7         1  Cloro  Cloro   Otr. Tipos  Liquido  Bleach
8         1  Cloro  Cloro   Otr. Tipos    Polvo  Bleach
9         1  Cloro  Cloro    Ropa Bebe  Liquido  Bleach

In [86]:
calendar = calendar.rename(columns={
    'WEEK': 'Semana',
    'YEAR': 'Año',
    'MONTH': 'Mes',
    'WEEK_NUMBER': 'Numero_Semana',
    'DATE': 'Fecha'
})
calendar['Fecha'] = pd.to_datetime(calendar['Fecha'], format='%d/%m/%Y')
calendar['dia'] = calendar['Fecha'].dt.day
calendar['mes_nombre'] = calendar['Fecha'].dt.month_name()
calendar['dia_semana'] = calendar['Fecha'].dt.day_name()

calendar.head()

  Semana   Año  Mes  Numero_Semana      Fecha  dia mes_nombre dia_semana
0  01-21  2021    1              1 2021-01-10   10    January     Sunday
1  02-21  2021    1              2 2021-01-17   17    January     Sunday
2  03-21  2021    1              3 2021-01-24   24    January     Sunday
3  04-21  2021    1              4 2021-01-31   31    January     Sunday
4  05-21  2021    2              5 2021-02-07    7   February     Sunday

In [94]:
product['SEGMENT'] = segment['SEGMENT']

product.loc[(product['FORMAT'] == 'LIQUIDO') | (product['FORMAT'] == 'GEL'), 'SEGMENT'] = 'LIQUID&GEL'
product.loc[(product['ATTR1'] == 'CLORO') | (product['ATTR2'] == 'CLORO'), 'SEGMENT'] = 'BLEACH'
product.loc[product['FORMAT'] == 'POLVO', 'SEGMENT'] = 'Powder'

In [98]:
product.head()

,MANUFACTURER,BRAND,ITEM,ITEM_DESCRIPTION,CATEGORY,FORMAT,ATTR1,ATTR2,ATTR3,SEGMENT
0,INDS. ALEN,CLORALEX,0000075000592,CLORALEX EL RENDIDOR BOT.PLAST. 250ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO,BLEACH
1,INDS. ALEN,CLORALEX,0000075000608,CLORALEX EL RENDIDOR BOT.PLAST. 500ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO,BLEACH
2,INDS. ALEN,CLORALEX,0000075000615,CLORALEX EL RENDIDOR BOT.PLAST. 950ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO,BLEACH
3,INDS. ALEN,CLORALEX,0000075000622,CLORALEX EL RENDIDOR BOT.PLAST. 2000ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO,BLEACH
4,INDS. ALEN,CLORALEX,0000075000639,CLORALEX EL RENDIDOR BOT.PLAST. 3750ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO,BLEACH

In [ ]:
prodcut.to_csv("nuevo_df.csv")