In [8]:
import pandas as pd

# Carga de archivos
df_product = pd.read_excel('DIM_PRODUCT.xlsx')
df_segment = pd.read_excel('DIM_SEGMENT.xlsx')
df_calendar = pd.read_excel('DIM_CALENDAR.xlsx')
df_sales = pd.read_csv('FACT_SALES.csv')

In [12]:
# Revisión básica
for name, df in [('SALES', df_sales), ('CALENDAR', df_calendar), 
                 ('SEGMENT', df_segment), ('PRODUCT', df_product)]:
    print(f"\n--- {name} ---")
    print(df.head())
    print(df.info())
    print(df.describe(include='all'))

--- SALES ---
    WEEK         ITEM_CODE  TOTAL_UNIT_SALES  TOTAL_VALUE_SALES  \
0  34-22  7501058792808BP2             0.006              0.139
1  34-22     7501058715883             0.487            116.519
2  34-22     7702626213774             1.391             68.453
3  34-22     7501058716422             0.022              1.481
4  34-22     7501058784353             2.037            182.839

   TOTAL_UNIT_AVG_WEEKLY_SALES              REGION
0                        1.000  TOTAL AUTOS AREA 5
1                        2.916  TOTAL AUTOS AREA 5
2                        5.171  TOTAL AUTOS AREA 5
3                        1.833  TOTAL AUTOS AREA 5
4                        5.375  TOTAL AUTOS AREA 5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122002 entries, 0 to 122001
Data columns (total 6 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   WEEK                         122002 non-null  object
 1   ITEM_CODE                    122002 non-null  object
 2   TOTAL_UNIT_SALES             122002 non-null  float64
 3   TOTAL_VALUE_SALES            122002 non-null  float64
 4   TOTAL_UNIT_AVG_WEEKLY_SALES  122002 non-null  float64
 5   REGION                       122002 non-null  object
dtypes: float64(3), object(3)
memory usage: 5.6+ MB
None
          WEEK      ITEM_CODE  TOTAL_UNIT_SALES  TOTAL_VALUE_SALES  \
count   122002         122002     122002.000000      122002.000000
unique      80            350               NaN                NaN
top      07-22  7501025405106               NaN                NaN
freq      1629            560               NaN                NaN
mean       NaN            NaN          3.211097          90.513761
std        NaN            NaN         14.496009         350.236505
min        NaN            NaN          0.000000           0.001000
25%        NaN            NaN          0.063000           2.662000
50%        NaN            NaN          0.367000          16.812000
75%        NaN            NaN          1.520000          62.961500
max        NaN            NaN        504.681000       12236.759000

        TOTAL_UNIT_AVG_WEEKLY_SALES                       REGION
count                 122002.000000                       122002
unique                          NaN                            7
top                             NaN  TOTAL AUTOS SCANNING MEXICO
freq                            NaN                        20990
mean                      10.099904                          NaN
std                       22.650142                          NaN
min                        0.042000                          NaN
25%                        2.316000                          NaN
50%                        3.993500                          NaN
75%                        8.898000                          NaN
max                      794.000000                          NaN

--- CALENDAR ---
    WEEK  YEAR  MONTH  WEEK_NUMBER       DATE
0  01-21  2021      1            1 2021-01-10
1  02-21  2021      1            2 2021-01-17
2  03-21  2021      1            3 2021-01-24
3  04-21  2021      1            4 2021-01-31
4  05-21  2021      2            5 2021-02-07
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   WEEK         156 non-null    object
 1   YEAR         156 non-null    int64
 2   MONTH        156 non-null    int64
 3   WEEK_NUMBER  156 non-null    int64
 4   DATE         156 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 6.2+ KB
None
         WEEK         YEAR       MONTH  WEEK_NUMBER                 DATE
count     156   156.000000  156.000000   156.000000                  156
unique    156          NaN         NaN          NaN                  NaN
top     01-21          NaN         NaN          NaN                  NaN
freq        1          NaN         NaN          NaN                  NaN
mean      NaN  2022.000000    6.487179    26.500000  2022-07-06 20:00:00
min       NaN  2021.000000    1.000000     1.000000  2021-01-10 00:00:00
25%       NaN  2021.000000    3.750000    13.750000  2021-10-08 06:00:00
50%       NaN  2022.000000    6.500000    26.500000  2022-07-06 12:00:00
75%       NaN  2023.000000    9.250000    39.250000  2023-04-04 18:00:00
max       NaN  2023.000000   12.000000    52.000000  2024-01-01 00:00:00
std       NaN     0.819126    3.459419    15.056667                  NaN

--- SEGMENT ---
   CATEGORY  ATTR1  ATTR2      ATTR3   FORMAT SEGMENT
0         1  CLORO  CLORO    BAMBINO  LIQUIDO  BLEACH
1         1  CLORO  CLORO  GERMICIDA  LIQUIDO  BLEACH
2         1  CLORO  CLORO   MASCOTAS  LIQUIDO  BLEACH
3         1  CLORO  CLORO  MULTIUSOS      GEL  BLEACH
4         1  CLORO  CLORO  MULTIUSOS  LIQUIDO  BLEACH
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CATEGORY  53 non-null     int64
 1   ATTR1     53 non-null     object
 2   ATTR2     53 non-null     object
 3   ATTR3     52 non-null     object
 4   FORMAT    53 non-null     object
 5   SEGMENT   53 non-null     object
dtypes: int64(1), object(5)
memory usage: 2.6+ KB
None
        CATEGORY        ATTR1             ATTR2       ATTR3   FORMAT  \
count       53.0           53                53          52       53
unique       NaN            4                 7          16        5
top          NaN  SAFE BLEACH  FABRIC TREATMENT  OTR. TIPOS  LIQUIDO
freq         NaN           27                37           7       24
mean         1.0          NaN               NaN         NaN      NaN
std          0.0          NaN               NaN         NaN      NaN
min          1.0          NaN               NaN         NaN      NaN
25%          1.0          NaN               NaN         NaN      NaN
50%          1.0          NaN               NaN         NaN      NaN
75%          1.0          NaN               NaN         NaN      NaN
max          1.0          NaN               NaN         NaN      NaN

             SEGMENT
count             53
unique             7
top     LIQUID & GEL
freq              16
mean             NaN
std              NaN
min              NaN
25%              NaN
50%              NaN
75%              NaN
max              NaN

--- PRODUCT ---
  MANUFACTURER     BRAND           ITEM  \
0   INDS. ALEN  CLORALEX  0000075000592
1   INDS. ALEN  CLORALEX  0000075000608
2   INDS. ALEN  CLORALEX  0000075000615
3   INDS. ALEN  CLORALEX  0000075000622
4   INDS. ALEN  CLORALEX  0000075000639

                                    ITEM_DESCRIPTION  CATEGORY   FORMAT  \
0  CLORALEX EL RENDIDOR BOT.PLAST. 250ML NAL. 000...         1  LIQUIDO
1  CLORALEX EL RENDIDOR BOT.PLAST. 500ML NAL. 000...         1  LIQUIDO
2  CLORALEX EL RENDIDOR BOT.PLAST. 950ML NAL. 000...         1  LIQUIDO
3  CLORALEX EL RENDIDOR BOT.PLAST. 2000ML NAL 000...         1  LIQUIDO
4  CLORALEX EL RENDIDOR BOT.PLAST. 3750ML NAL 000...         1  LIQUIDO

   ATTR1  ATTR2        ATTR3
0  CLORO  CLORO  NO DEFINIDO
1  CLORO  CLORO  NO DEFINIDO
2  CLORO  CLORO  NO DEFINIDO
3  CLORO  CLORO  NO DEFINIDO
4  CLORO  CLORO  NO DEFINIDO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MANUFACTURER      505 non-null    object
 1   BRAND             505 non-null    object
 2   ITEM              503 non-null    object
 3   ITEM_DESCRIPTION  505 non-null    object
 4   CATEGORY          505 non-null    int64
 5   FORMAT            505 non-null    object
 6   ATTR1             499 non-null    object
 7   ATTR2             505 non-null    object
 8   ATTR3             499 non-null    object
dtypes: int64(1), object(8)
memory usage: 35.6+ KB
None
       MANUFACTURER     BRAND           ITEM  \
count           505       505            503
unique           20        33            503
top         RECKITT  CLORALEX  0000075000592
freq            128       115              1
mean            NaN       NaN            NaN
std             NaN       NaN            NaN
min             NaN       NaN            NaN
25%             NaN       NaN            NaN
50%             NaN       NaN            NaN
75%             NaN       NaN            NaN
max             NaN       NaN            NaN

                                         ITEM_DESCRIPTION  CATEGORY   FORMAT  \
count                                                 505     505.0      505
unique                                                505       NaN        5
top     CLORALEX EL RENDIDOR BOT.PLAST. 250ML NAL. 000...       NaN  LIQUIDO
freq                                                    1       NaN      326
mean                                                  NaN       1.0      NaN
std                                                   NaN       0.0      NaN
min                                                   NaN       1.0      NaN
25%                                                   NaN       1.0      NaN
50%                                                   NaN       1.0      NaN
75%                                                   NaN       1.0      NaN
max                                                   NaN       1.0      NaN

        ATTR1  ATTR2        ATTR3
count     499    505          499
unique      4      3           15
top     CLORO  CLORO  NO DEFINIDO
freq      243    249          137
mean      NaN    NaN          NaN
std       NaN    NaN          NaN
min       NaN    NaN          NaN
25%       NaN    NaN          NaN
50%       NaN    NaN          NaN
75%       NaN    NaN          NaN
max       NaN    NaN          NaN

In [16]:
# Eliminación de duplicados
df_sales.drop_duplicates(inplace=True)
df_calendar.drop_duplicates(inplace=True)
df_segment.drop_duplicates(inplace=True)
df_product.drop_duplicates(inplace=True)

# Manejo de valores nulos
for df in [df_sales, df_calendar, df_segment, df_product]:
    df.fillna('No definido', inplace=True)

In [20]:
print(df_sales.columns)
print(df_segment.columns)

Index(['WEEK', 'ITEM_CODE', 'TOTAL_UNIT_SALES', 'TOTAL_VALUE_SALES',
       'TOTAL_UNIT_AVG_WEEKLY_SALES', 'REGION'],
      dtype='object')
Index(['CATEGORY', 'ATTR1', 'ATTR2', 'ATTR3', 'FORMAT', 'SEGMENT'], dtype='object')

In [26]:
# 1. Primer merge entre ventas y productos
df_merged = df_sales.merge(df_product, left_on='ITEM_CODE', right_on='ITEM', how='left')

# 2. Revisar qué columnas existen después de este merge
print(df_merged.columns)

Index(['WEEK', 'ITEM_CODE', 'TOTAL_UNIT_SALES', 'TOTAL_VALUE_SALES',
       'TOTAL_UNIT_AVG_WEEKLY_SALES', 'REGION', 'MANUFACTURER', 'BRAND',
       'ITEM', 'ITEM_DESCRIPTION', 'CATEGORY', 'FORMAT', 'ATTR1', 'ATTR2',
       'ATTR3'],
      dtype='object')

In [28]:
print(df_product.columns)

Index(['MANUFACTURER', 'BRAND', 'ITEM', 'ITEM_DESCRIPTION', 'CATEGORY',
       'FORMAT', 'ATTR1', 'ATTR2', 'ATTR3'],
      dtype='object')